@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Cormorant+Garamond:wght@500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background: #F8FAFC;
  overflow-x: hidden;
}

h1,
h2,
h3,
.luxury-font {
  font-family: 'Cormorant Garamond', serif;
}